* {
  box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-bg {
  background: #122ab2;
  color: #ddd;
}

.superinfo {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #ddd;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #ddd;
}

.menu__logo {
  margin: 0 10px;
  font-size: 2.25em;
  font-weight: bold;
}

.menu__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu__nav a {
  display: block;
  padding: 10px;
  font-size: 1.25em;
}

.menu__nav a:hover {
  color: #122ab2;
}

.introduction {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
  font-size: 3em;
  line-height: 1;
}

.about {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;

  border-top: 2px solid #122ab2;
  border-bottom: 2px solid #122ab2;
}

.about__info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about__info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.about__info p {
  margin-bottom: 1em;

  color: #7c7c7c;
  font-size: 1.25em;
  text-align: justify;
  line-height: 1.4;
}

.about__image {
  flex: 1 1 160px;
  margin: 0 10px;
}

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products__item {
  flex: 1 1 175px;
  margin: 10px;
}

.products__item h2 {
  padding: 60px 20px;

  background: #f7f7f7;
  color: #a4a4a4;
  font-size: 2em;
}

.products__item--purple {
  border-top: 8px solid #ae81ff;
}

.products__item--pink {
  border-top: 8px solid #f9265e;
}

.products__item--blue {
  border-top: 8px solid #66d9eb;
}

.price {
  padding: 60px;
  display:flex;
  align-items: flex-end;
  flex-wrap: wrap;

  background: #f7f7f7;
}

.price__item {
  flex: 1 1 260px;
  margin: 10px;
  padding: 20px;

  border: 4px solid white;
}

.price__item h2 {
  color: #a4a4a4;
  font-size: 3em;
  text-align: center;
}

.price__item span {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  padding: 10px 0 5px 0;

  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.price__item sup {
  font-size: 1.5rem;
}

.price__item ul {
  max-width: 300px;
  margin: 20px auto;

  color: #7c7c7c;
  font-size: 1.25em;
  font-style: italic;
}

.price__item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price__item li::after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;

  background: #2c70ff;
  border-radius: 50%;
}

.price__item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  padding: 15px 0;

  color: #333;
  border: 4px solid;
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }

  .price__item:nth-child(3) {
    order: -2;
  }

  .price__item:nth-child(2) {
    order: -1;
  }
}